$primaryColor : #9733EE;
$secondaryColor : #d1ab24;
$textColor : #29423f;
$gradient1 : #895cf2;
$gradient2 : #ffabf4;
$bgColor: #f0eff4;


@mixin fadesIn(){
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity:1; }
}



body{ background-color:white; color:$textColor; background-color: $bgColor;}
h5 { color:$primaryColor; font-family: 'Open Sans',sans-serif;}
header{ margin-top:50px;}
img { @include fadesIn; margin-bottom:50px;}
section{padding-bottom:40px;}

.background{	
	height:500px;
	left: 0;
	top:400px;
	right: 0;
	transform: skewY(-10deg);
	position: absolute;
	background: $gradient1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, $gradient1 , $gradient2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, $gradient1 , $gradient2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// .laptop {
//     background-image: url(../img/laptop.png);
//     height: 298px;
//     width: 545px;
//     margin-right: 50px;
// 	background-repeat: no-repeat; 
// }

.welcome{
	padding-bottom:270px;
	background-image: url(../img/girl3.jpg);
	background-repeat: no-repeat;
	background-position: right;

	section{ @include fadesIn; }

}
.work{
	
	 color:white;
	 padding-bottom:270px;

	h5{color:white;}
	section{ @include fadesIn; }
}
.clients{
	 @include fadesIn;
	 padding-bottom:70px; 
}
footer{ padding-bottom:30px; }

.photo{border-radius:50%;}
