@import 'settings';
@import 'foundation';

@include foundation-grid;


//fixes foundation issue
.column, .columns {box-sizing: border-box;}

$primaryColor : #033A23;
$primaryColorLight : #049E74;
$secondaryColor : #3FB2DC;
$highlightColor: #FED500;
$primaryColorRBGa : rgba(3, 58, 35, 0.7);
$secondaryRGBa : rgba(63, 178, 220, 0.7); //
$primaryColorLightRGBa : rgba(4, 158, 116, 0.7);

$textColor : #29423f;

$gradient1 : $secondaryColor;
$gradient2 : $primaryColorLightRGBa;

$bgColor: #fff;
$gray: #F7F6F6;


@mixin fadesIn(){
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity:1; }
}
@mixin gradient {
	background: $gradient1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, $gradient1 , $gradient2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, $gradient1 , $gradient2);
}


html, body{height:100%}
body{ color:$textColor; background-color: $bgColor; font-family:'Lato',sans-serif; }
h2 { color:$primaryColor; font-family: 'Poppins',sans-serif; font-size:18px; 
	letter-spacing: 1px; margin-bottom:60px; color:white;
	line-height:26px; @include fadesIn;
	text-shadow: 2px 2px #000;
}
h3 { font-size:32px; color:$secondaryColor; font-weight:200; font-family:'Poppins',sans-serif; margin:0; }
h4 { font-size:22px; color:$primaryColorLight; font-weight:200; margin-top:0; }
h5 { margin:0; font-size:20px; font-weight:200; color:$primaryColorLight;}
p {line-height: 1.4rem}
a { color:$secondaryColor;}

section{padding:20px; margin-bottom:20px;box-sizing: border-box; }


.border{ 
	// border :solid 2px #f0f0f0; margin:30px; padding:20px;
	// background-image: url(../img/leafBG.png); background-repeat: no-repeat; 
	// background-position: 70% 40px; background-color: white; 
}
.rightBorder{ border-right: solid 1px gray;}

.center{text-align: center;}
.anchor{display:block}

.grayBg{background-color:$gray;}
.blueBg{@include gradient;	padding-top:100px; padding-bottom:100px;}


@include breakpoint(small down){
	.border{ border-left:solid 0 #f0f0f0; border-right:solid 0 #f0f0f0;}
}

// .background{	
// 	height:500px;
// 	left: 0;
// 	top:400px;
// 	right: 0;
// 	transform: skewY(-10deg);
// 	position: absolute;
// 	background: $gradient1; /* fallback for old browsers */
// 	background: -webkit-linear-gradient(to bottom right, $gradient1 , $gradient2); /* Chrome 10-25, Safari 5.1-6 */
// 	background: linear-gradient(to bottom right, $gradient1 , $gradient2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .laptop {
//     background-image: url(../img/laptop.png);
//     height: 298px;
//     width: 545px;
//     margin-right: 50px;
// 	background-repeat: no-repeat; 
// }


header{
	position:fixed; top:0; width:100%;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

	nav{
		text-align: right; padding:0; width:100%; background-color: white;
		a{ 
			color:$secondaryColor; text-decoration: none; 
			margin: 10px; 
			padding:10px;
			display: inline-block; 
		}
		a:hover { text-decoration: underline; }
		a img{height:24px; vertical-align: middle; margin-right:-16px;}
	}

	.logo{ width:75px; float:left; position: absolute; top:5px; left:20px;}

}


.welcome{

	background-position-x: 50%;
	background-position-y: 0%;
	text-align:center;
	background-image: url(../img/desk_medium.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	

	height:500px;
	padding:0;
	margin-top:44px;
	margin-bottom:0;

	.welcomeBG{ 
		width:100%; height:100%;
		div{ 
			text-align: center;
			padding:80px 0 50px;
			img{ @include fadesIn; margin-bottom:50px; width:300px; height:60px; margin:0; }
		}
	}
	
	@include breakpoint(large up) { 
		background-image: url(../img/desk_large.jpg); 
		height:500px;
	}

	@include breakpoint(xlarge up){ 	
		background-image: url(../img/desk_xlarge.jpg); 
	}

}


#mobileMenu{display: none; background-color: transparent;}

@include breakpoint(small only) {

	#mobileMenu{
		cursor:pointer;
		display: block; color:white; padding:15px;
		border-bottom: solid 1px white;
		text-align: center;
	}

	header {
		position: static;
		box-shadow: none;

		.outerNav{ 
			visibility: hidden;
			max-height: 0;
			overflow: hidden;
			background-clip: border-box;

			-webkit-transition: max-height 0.3s;
			-moz-transition: max-height 0.3s;
			transition: max-height 0.3s;
		}
		.wrapper{visibility: hidden;}
		nav{ 
			background-color: transparent; 
			text-align: center; 
			margin:auto;
			a{color:white; margin:0; display: block; }
		}
		.logo {display: none;}
	}
	
	.welcome{margin-top:0; background-attachment: scroll;}
	.welcome {
		.welcomeBG div img, h2 { width:80%; margin:auto }
		.welcomeBG div{ padding:50px 0 30px; }
	}

	header.extended{

		.outerNav{ 
			max-height: 1000px;
			visibility: visible;
		}
		.wrapper{visibility: visible;}
		#mobileMenu{border-top: solid 1px white; margin-top: 10px;}
	}
}

.services{
	
	margin:100px 0;
	h3{margin-bottom:40px;}
	h4{margin-bottom:10px; text-align:center;}

	.reportImg{	background-image: url(../img/reporting.svg);}
	.marketingImg{background-image: url(../img/marketing.svg);}
	.grantsImg{	background-image: url(../img/grants.svg); }
	
	.grantsImg, .reportImg, .marketingImg {
		height:120px;
		background-position: center top;
		background-repeat: no-repeat; 
		margin-bottom:30px;
	}

	@include breakpoint(small only) {
		.grantsImg, .reportImg, .marketingImg { display: none; background-image: none;}
	}
	
}



.story{ padding-top:100px; padding-bottom:100px; }

.work{
	
	section{ @include fadesIn; }
}

.clients{
	margin:100px 0;
	@include fadesIn;
	padding-bottom:70px; 
}

.contact{
	padding-top:100px;
	padding-bottom:100px;
	width:100%; background-color: $secondaryColor; 
	height: 300px; 
	color:white;
	margin-bottom: 0;
	// margin-bottom: 0px;
	a , h3{color:white}
	@include gradient;
}


footer{ 
	padding:30px 0; text-align: right;
	img {height:20px; margin-left:10px;}
}

.photo{border-radius:50%;}

::selection { background: $highlightColor; }
::-moz-selection { background: $highlightColor; }

.flowers{
	width:30%; margin:auto; 	
	img{ width:100%; height:100%;}
}

