body{ background-color:white; }
header{ margin-top:50px; }

section{margin-bottom:40px;}
.welcome{}
.work{}
.clients{}

.photo{border-radius:50%;}


footer:before{

	// content: '';
	//     position: absolute;
	//     left: 0;
	//     right: 0;
	//     top: 600px;
	//     height: 2000px;
	//     background: #f6f9fc;
	//     transform: skew(0,-12deg);


}
